*{
    margin: 0px;
    padding: 0px;

}
body,html{
    height: 100%;
}
nav {
    position: absolute;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 140px;
    z-index: 3;


}
nav a {
    color:white;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
    padding: 12px 12px;
}
nav a:hover{
    background-color: black;
}
.görsel{
    height: 100%;
    background-color: lightblue;
    background-size: cover;
    background-attachment: fixed;
}
.bant{
    height: 50%;
    background-color: lightgreen;
}

#gör1{
    background-image: url("wallpaper1.jpg");
    
}
#gör2{
    background-image: url("wallpaper2.jpg");

}
#gör3{
    background-image: url("wallpaper3.jpg");
    color: white;
}
.anasayfa{
    position: absolute;
    float: left;
}
.anayazi{
width: 100%;
height: 100%;
z-index: 1;
text-align: center;
margin-top: 250px;
font-family: 'Noto Serif', serif;
}
.anafiltre{
width: 100%;
height: 100%;
background-color: black;
opacity: 0.30;
z-index: 0;
}

#instagram{
    font-size: 60px;
    margin-left: 5px;
}
#twitter{
    font-size: 60px;
    margin-top: 5px;
    margin-left: 5px;
}
#youtube{
    font-size: 60px;
    margin-top: 5px;
    margin-left: 5px;
}
#facebook{
    font-size: 60px;
    margin-top: 5px;
    margin-left: 5px;
}
.social{
    font-size: 60px;
    margin-left: 50px;
    text-align: center;
    


}
#hakkımda{
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
    
    font-family: 'Noto Serif', serif;

}
.footer{
    height: 50%;
    background-color:dimgray;
    text-align: center;
    color: white;
}

